<nav class="flex items-center justify-between flex-wrap bg-white p-1 border border-b-1 border-b-gray-200">
    <div class="flex items-center flex-shrink-0 mr-6">
      <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
      <span class="font-semibold text-xl tracking-tight">Tailwind CSS</span>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto lg:ml-20">
      <div class="text-sm lg:flex-grow">
        <ng-content></ng-content>
      </div>
      <app-textbox appReactiveControl="search" (controlChange)="searchAction.emit($event)" class="mr-10"></app-textbox>
      <app-usermenu class="mr-5"></app-usermenu>
    </div>
  </nav>
