<div @inOutAnimation *ngIf="searchText" class=" flex flex-row flex-nowrap justify-between bg-white fixed left-0 right-0 top-14 bottom-0">
    <app-stock-info [title]="'Microsoft'" [text]="'Tolle Aktie'"></app-stock-info>
    <app-stock-list>
      <app-stock-list-item
        [stock]="{ name: 'Microsoft', wkn: 'L1D3FE', id: 0 }"
      ></app-stock-list-item>
      <app-stock-list-item
        [stock]="{ name: 'Microsoft', wkn: 'L1D3FE', id: 1 }"
      ></app-stock-list-item>
      <app-stock-list-item
        [stock]="{ name: 'Microsoft', wkn: 'L1D3FE', id: 2 }"
      ></app-stock-list-item>
      <app-stock-list-item
        [stock]="{ name: 'Microsoft', wkn: 'L1D3FE', id: 3 }"
      ></app-stock-list-item>
      <app-stock-list-item
        [stock]="{ name: 'Microsoft', wkn: 'L1D3FE', id: 4 }"
      ></app-stock-list-item>
      <app-stock-list-item
        [stock]="{ name: 'Microsoft', wkn: 'L1D3FE', id: 5 }"
      ></app-stock-list-item>
      <app-stock-list-item
        [stock]="{ name: 'Microsoft', wkn: 'L1D3FE', id: 6 }"
      ></app-stock-list-item>
      <app-stock-list-item
        [stock]="{ name: 'Microsoft', wkn: 'L1D3FE', id: 5 }"
      ></app-stock-list-item>
      <app-stock-list-item
        [stock]="{ name: 'Microsoft', wkn: 'L1D3FE', id: 6 }"
      ></app-stock-list-item>
      <app-stock-list-item
        [stock]="{ name: 'Microsoft', wkn: 'L1D3FE', id: 5 }"
      ></app-stock-list-item>
      <app-stock-list-item
        [stock]="{ name: 'Microsoft', wkn: 'L1D3FE', id: 6 }"
      ></app-stock-list-item>
    </app-stock-list>
</div>
